
.tabla-galeria {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.tabla-galeria td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.tabla-galeria img {
    width: 100%;
    height: auto;
    max-width: 150px;
    max-height: 150px; 
    object-fit: cover; 
    border-radius: 5px; 
}

.tabla-galeria td:hover img {
    transform: scale(1.3); 
    transition: transform 0.3s ease; 
}
/* --------------------------------------------- */

.text{
    white-space: pre;
    font-family: "Italiana", serif;
    justify-content: center;
    font-size: medium;
    display: flex;
    padding-top: -20px;
  
  
  }
  
  .text2 {
    display: flex;
    font-size: medium;
    color: rgb(94, 59, 59); 
    letter-spacing: 2px;  
    white-space: pre;
    font-family: "Italiana", serif;
    justify-content: center;

  }

/* .contenedor-presentacion{

  } */