body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; 
    margin: 0;
    min-height: 100vh;
}

.header {
    background-color: #EEDCD3;
    padding: 5px 0; 
    text-align: center;
    color: rgb(94, 59, 59);
    font-family: 'Cinzel', serif;
}


.title {
    font-size: 20px;
    color: rgb(94, 59, 59); 
    margin-bottom: 5px;
    letter-spacing: 2px; 
    text-transform: uppercase; 
    white-space: pre;
}

.links {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 14px;
    gap: 20px; 
}

.links a {
    color: rgb(94, 59, 59); 
    text-decoration: none; 
    font-family: 'Playfair Display', serif; 
    display: inline-block;
    transition: color 0.3s ease, transform 0.3s ease;
}


.links a:hover {
    color: #585c5f;
    transform: scale(1.1); 
}

.content {
    background-color: #ffffff; 
    padding: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-grow: 1;
    
}

.content h1 {
    font-size: 32px;
    color: #333;
    margin-right: 20px;
}

.imagen {
    max-width: 150px; 
    height: auto;
    border-radius: 10px; 
}

footer {
    background-color: #EEDCD3;
    color: rgb(94, 59, 59); 
    text-align: center;
    margin-top: auto;
    width: 100%;
    margin-top: auto;
    height: 55px;

 

}

footer p {
    margin: 0;
    font-size: 14px;
    margin-top: 15px;
    font-family: 'Cinzel', serif;

    
}


