.registro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 79vh;
    background-color: #f4f4f9;
  }
  .form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }

  .title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }

  .contenidoRegistro {
    margin-bottom: 15px;
    text-align: left;
  }
  .enviar:hover {
    background-color: #45a049;
  }